<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>H.A.L.B.E.R.T.</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/framework.css">
  <script src="/js/vue.js" charset="utf-8"></script>
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">H.A.L.B.E.R.T. Settings</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Back to Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/modules">Modules <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </nav>
  <br>
  <div class="container">
    {{{body}}}
  </div>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>
</html>
