body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

body.dashboard {
  color: #F3F3F3;
  background: #2E3442;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.load-circle {
  width: 56px;
  height: 56px;
  border: 8px solid rgba(0, 82, 236, 0.25);
  border-top-color: #0052ec;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
}

.load-circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  top: 0px;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
