$font-family-sans-serif: "Open Sans", Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", Arial, sans-serif;

// c #8892a2
// #333b48

// primary #d02d59

$zindex-dropdown-backdrop: 980;

$body-bg: #1c1d33;
$body-color: #8A8BAF;

$brand-primary: #d02d59;
$brand-success: #50E3C2;
$brand-danger: #e63e3e;

$card-bg: #242A47;
$card-spacer-x: 1.1rem 1.3rem; // For some reason this is the padding :/
$card-spacer-y: 1.2rem;
$card-title-color: #8A8BAF;
$card-title-font-size: .9375rem;

$btn-font-weight: 600;
$btn-primary-color: #fff;
$btn-secondary-bg: #a8acbf;
$btn-secondary-border: #a8acbf;
$btn-secondary-color: #202131;
$btn-focus-ring-color: $brand-primary;

$close-color: #c4c4da;

$control-switch-bg: $body-bg;
$control-switch-active-bg: #212238;
$control-switch-knob-bg: $brand-primary;

$options-button-bg: transparentize($body-color, 0.8);
$options-button-bg-hover: $body-color;
$options-button-bg-active: darken($body-color, 5%);

$modal-content-bg: $card-bg;
$modal-header-border-color: $body-bg;
$modal-footer-border-color: $body-bg;
$modal-backdrop-bg: $body-bg;
$modal-backdrop-opacity: 0.8;

$input-bg: lighten($card-bg, 10%);
$input-color: #8892a2;
$input-border-color: $body-bg;
$input-border-focus: $brand-primary;

$page-loader-bg: $body-bg;
$page-loader-circle-bg: $card-bg;
$page-loader-circle-highlight: lighten($card-bg, 10%);

$connection-label-bg: $card-bg;
$connection-label-color: $brand-danger;
$connection-label-connected-color: $brand-success;

$navbar-dark-color: transparentize(#fff, 0.4);
$navbar-dark-active-color: #fff;
$navbar-dark-hover-color: #fff;
