$font-family-sans-serif: "Open Sans", Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", Arial, sans-serif;

// c #8892a2
// #333b48

// primary #d02d59

$zindex-dropdown-backdrop: 980;

$body-bg: #efefef; // #1c1d33
$body-color: #4c4c4c;

$brand-primary: #4e85d8; // #d02d59, #00fd96
$brand-secondary: #f7f7f7;
$brand-success: #50E3C2;
$brand-danger: #e63e3e;

$card-bg: #fff; // 242A47
$card-spacer-x: 1.1rem 1.3rem; // For some reason this is the padding :/
$card-spacer-y: 1.2rem;
$card-title-bg: #f7f7f7;
$card-title-color: rgba(0, 0, 0, 0.32); //#8A8BAF
$card-title-font-size: 0.9rem;

$btn-font-weight: 600;
$btn-primary-color: rgba(0, 0, 0, 0.51);
$btn-secondary-bg: darken($brand-secondary, 2.5%);
$btn-secondary-border: darken($brand-secondary, 10%);
$btn-secondary-color: #202131;
$btn-focus-ring-color: $brand-primary;

$close-color: rgba(0, 0, 0, 0.57);

$control-switch-bg: $body-bg;
$control-switch-active-bg: $brand-primary;
$control-switch-knob-bg: white;

$options-button-bg: rgba(0, 0, 0, 0.32);
$options-button-bg-hover: rgba(0, 0, 0, 0.4);
$options-button-bg-active: rgba(0, 0, 0, 0.5);

$modal-content-bg: $card-bg;
$modal-header-border-color: $body-bg;
$modal-footer-border-color: $body-bg;
$modal-backdrop-bg: $body-bg;
$modal-backdrop-opacity: 0.8;

$input-bg: lighten($card-bg, 10%);
$input-color: #8892a2;
$input-border-color: $body-bg;
$input-border-focus: $brand-primary;

$input-light-bg: lighten($card-bg, 70%);
$input-light-bg-focus: lighten($input-light-bg, 2%);
$input-light-color: #617492;
$input-light-color-focus: #353e69;
$input-light-border-color: lighten(#353e69, 20%);
$input-light-border-focus: #353e69;

$page-loader-bg: $body-bg;
$page-loader-circle-bg: $brand-primary;
$page-loader-circle-highlight: lighten($page-loader-circle-bg, 20%);

$connection-label-bg: #3c3c3c;
$connection-label-color: $brand-danger;
$connection-label-connected-color: $brand-success;

$navbar-light-color: transparentize(#000, 0.4);
$navbar-light-active-color: #000;
$navbar-light-hover-color: #000;

$code-bg: $brand-primary;
$code-color: white;

$border-radius: 0;
